.w3-theme-lp {color:#000 !important; background-color:#c1ade5 !important}
.w3-theme-p {color:#fff !important; background-color:#845bcb !important}
.w3-theme-la {color:#000 !important; background-color:#ffe69b !important}
.w3-theme-a {color:#000 !important; background-color:#ffcd37 !important}

.social-icon {
  color: #aaaaaa;
  transition: color 0.2s;
  text-decoration: none;
  margin: 0 4px;
  font-size: 80%;
}

.social-icon:hover {
  color: #ffffff;
}

.dark-social-icon {
  color: #000000;
  transition: color 0.2s;
  text-decoration: none;
  margin: 0 4px;
  font-size: 80%;
}

.dark-social-icon:hover {
  color: #ffffff;
}

.white-social-icon {
  color: #ffffff;
  transition: color 0.2s;
  text-decoration: none;
  margin: 0 4px;
  font-size: 80%;
}

.white-social-icon:hover {
  color: #aaaaaa;
}

.table-cell {
  font-style: italic;
}

.table-cell:hover {
  font-size: 105%;
  transition: font-size 0.3s;
}

/*
Source - https://stackoverflow.com/a/20358308
Posted by FredTheLover, modified by community. See post 'Timeline' for change history
Retrieved 2026-01-23, License - CC BY-SA 3.0

Positions anchor lower than where it actually appears on screen, preventing header from blocking intended target.
*/
a.anchor{display: block; position: relative; top: -70px; visibility: hidden;}

body {
  background-image: url('../img/freybg.jpg');
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
  backdrop-filter: grayscale(30%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}